<section class="features">
    <div class="card">
        <img src="https://appo.theme-land.com/assets/img/features_icon_1.png" alt="" width="150">
        <h3>{{ "CARD_01_TITLE" | translate }}</h3>
        <p>
            {{ "CARD_01_DESCRIPTION" | translate }}
        </p>
    </div>
    <div class="card">
        <img src="https://appo.theme-land.com/assets/img/features_icon_2.png" alt="" width="150">
        <h3>{{ "CARD_02_TITLE" | translate }}</h3>
        <p>
            {{ "CARD_02_DESCRIPTION" | translate }}
        </p>
    </div>
    <div class="card">
        <img src="https://appo.theme-land.com/assets/img/features_icon_3.png" alt="" width="150">
        <h3>{{ "CARD_03_TITLE" | translate }}</h3>
        <p>
            {{ "CARD_03_DESCRIPTION" | translate }}    
        </p>
    </div>
</section>