<section class="pricing">
    <div class="card">
        <h1>$8.500</h1>
        <h2>{{ "PRICING_01_TITLE" | translate }}</h2>
        <p>{{ "PRICING_01_DESCRIPTION" | translate }}</p>
    </div>
    <div class="card-2">
        <h1>$12.600</h1>
        <h2>{{ "PRICING_02_TITLE" | translate }}</h2>
        <p>{{ "PRICING_02_DESCRIPTION" | translate }}</p>
    </div>
    <div class="card-3">
        <h1>$20.000</h1>
        <h2>{{ "PRICING_03_TITLE" | translate }}</h2>
        <p>{{ "PRICING_03_DESCRIPTION" | translate }}</p>
    </div>
</section>