<header>
  <div class="logo">
    <img
      src="https://appo.theme-land.com/assets/img/logo_white.png"
      alt="Logo"
    />
  </div>
  <div class="links">
    <a href="#">{{ "LINK_ONE" | translate }}</a>
    <a href="#">{{ "LINK_TWO" | translate }}</a>
    <a href="#">{{ "LINK_THREE" | translate }}</a>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/800px-Bandera_de_Espa%C3%B1a.svg.png" width="30" (click)="changeLanguage('es')"/>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" width="30" (click)="changeLanguage('en')"/>
  </div>
</header>

<app-home></app-home>
<app-features></app-features>
<app-pricing></app-pricing>
